# suraksha
ultralytics
insightface
opencv-python
numpy
onnxruntime; platform_system != "Darwin" or platform_machine != "arm64"
onnxruntime-silicon; platform_system == "Darwin" and platform_machine == "arm64"